.nannyList{
    margin:32px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;

}

.nannyListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.loadMoreButton {
    width: 200px;
    height: 60px;
    background: var(--bg-color); /* Renk korunuyor */
    color: var(--color-text-light);
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: var(--fw-bold);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.565), 0 8px 8px rgba(255, 255, 255, 0.408) inset;
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.loadIcon {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.loadMoreButton:hover .loadIcon {
    transform: translateX(6px) rotate(10deg);
}


.loadMoreButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.4), 
        transparent
    );
    transform: skewX(-20deg);
    transition: all 0.8s ease-in-out;
    z-index: -1;
}

.loadMoreButton:hover::before {
    left: 100%;
}

.loadMoreButton::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    background: rgba(255, 255, 255, 0.15);
    filter: blur(8px);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -2;
}

.loadMoreButton:hover::after {
    opacity: 1;
}

.loadMoreButton:hover {
    color: var(--btn-hover-text);
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    background: var(--btn-hover-gradient); 
}
